<div class="container">
  <nav>
    <div class="top-nav">
      <div class="homepage-nav">
        <p>Myspace.com</p>
        <p>Home</p>
      </div>
      <div class="search-nav">
        <form class="" action="index.html" method="post">
          <input type="radio" name="filter" value="">The Web
          <input type="radio" name="filter" value=""> Myspace
          <input type="text" name="search" value="">
          <button type="submit" name="button">Search</button>
        </form>
      </div>
      <div class="sign-up-nav">
        <p>Help</p>
        <p>SignUp</p>
      </div>
    </div>
    <div class="bottom-nav">
      <ul>
        <li>Home</li>
        <li>Browse</li>
        <li>Search</li>
        <li>Invite</li>
        <li>Film</li>
        <li>Mail</li>
        <li>Blog</li>
        <li>Favorites</li>
        <li>Forum</li>
        <li>Groups</li>
        <li>Events</li>
        <li>Videos</li>
        <li>Music</li>
        <li>Classifieds</li>
      </ul>
    </div>
  </nav>
  <app-welcome></app-welcome>
</div>
